{% extends 'base.html' %}
{% block title %}Detalle de la Orden{% endblock %}
{%block content%}
<h1>Detalle de la Orden {{orden.id}}</h1>

<p><strong>Pedido realizado por:</strong> {{ orden.cliente.nombre }}</p>

<p><strong>Pedido tramitado por:</strong> {{ orden.Empleado.username }}</p>

<p><strong>Estado:</strong> {{ orden.estado }}</p>

<p><strong>Fecha de creación:</strong>{{ orden.fecha_creacion }}</p>

<p><strong>Total:</strong> ${{ orden.total }}</p>

<a href="{% url 'ordenes:actualizar_estado' orden.id %}" class="btn btn-warning">Actualizar Estado</a> 

<a href="{% url 'ordenes:eliminar_orden' orden.id %}" class="btn btn-danger" onclick="return confirm('¿Esta seguro que desea Eliminar esta orden?')">Eliminar Orden</a> 

{% endblock %}